.feature {
  background-color: $white;
  padding-bottom: 10rem;
  position: relative;
  &-list {
    margin-top: 9.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3.6rem;
  }

  &-box {
    display: flex;
    flex-direction: column;
  }

  &-title {
    font-size: 3rem;
    color: $black;
    font-weight: 400;
    margin-top: 2.2rem;
    margin-bottom: 2.5rem;
  }

  &-desc {
    line-height: 2.6rem;
    margin-bottom: 3rem;
  }

  &-link {
    font-size: 1.6rem;
    color: $green;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: auto;
  }

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-treatment {
    position: absolute;
    right: 0;
  }
  @media screen and (min-width: 1024px) {
    &-title {
      font-size: 2.5rem;
    }
    &-treatment {
      display: none;
    }
  }

  @media screen and (max-width: 1023px) {
    &-list {
      grid-template-columns: repeat(2, 1fr);
    }

    &-title {
      font-size: 2.2rem;
    }

    &-treatment {
      max-width: 14rem;
      top: 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding: 4rem 0;
    &-list {
      margin-top: 5rem;
      grid-template-columns: repeat(1, 1fr);
    }

    &-box {
      text-align: center;
    }

    &-treatment {
      display: none;
    }
  }
}
